    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
              <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">SISTAF</div>
            </a>
      
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
      
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
              <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider">
      
            <!-- Heading -->
            <div class="sidebar-heading">
              Sistema
            </div>
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-cogs"></i>
                <span>Tarefas</span>
              </a>
              <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Todos Tarefas:</h6>
                  <%= link_to "Tarefas", tarefas_path, class: 'collapse-item' %>   
                </div>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRes" aria-expanded="true" aria-controls="collapseRes">
                <i class="fas fa-id-badge"></i>
                <span>Respons치vel</span>
              </a>
              <div id="collapseRes" class="collapse" aria-labelledby="headingRes" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Todos Respons치veis:</h6>
                  <%= link_to "Respons치veis", responsavels_path, class: 'collapse-item' %>    
                </div>
              </div>
            </li>
      
            <!-- Nav Item - Tables -->
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-book-open"></i>
                <span>Relat칩rios</span></a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
      
          </ul>
          <!-- End of Sidebar -->